body{
    background-image: url(tamagotchi.jpg)
}
h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 10;
}
p{
    color: white;
    text-align: left;
    font-size: 70px;
    margin-top: 10;
}