body{
    background-image: url(tamagotchi.jpg)
    
}
h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 10;
}

p{
    color: white;
    text-align: left;
    font-size: 70px;
    margin-top: 10;
    margin: 20px;
}
div{
    color: white;
    font-size: 30px;
}
button{
    background-color: white;
    color: rgb(154, 143, 143);
    font-size: 20px;
  
}