.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    line-heigth: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-heigth: 90vh;
    transition: all 0.5s;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

h1{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    text-shadow: 1px 1px 0 rgb(67, 66, 66),
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    0px 2px 0 #FFFFFF,
    0px -2px 0 #FFFFFF,
    -2px 0px 0 #FFFFFF,
    2px 0px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF;
}

body{
    background-image: url(tamagotchi.jpg)
    
}

h2{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    text-shadow: 1px 1px 0 rgb(67, 66, 66),
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    0px 2px 0 #FFFFFF,
    0px -2px 0 #FFFFFF,
    -2px 0px 0 #FFFFFF,
    2px 0px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF;
}
.form-uname{
    font-family: OCR A Std, monospace;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-top: -65px;
    margin-left: 158px;
}
h4{
    font-family: OCR A Std, monospace;
    color: rgb(24, 36, 38);
    text-align: left;
    font-size: 17px;
    font-family: OCR A Std, monospace;
    margin-left: 55px;
    margin-top: 15px;
}

#age{
    font-family: OCR A Std, monospace;
    color: rgb(237, 227, 201);
    text-align: left;
    font-size: 70px;
    margin-top: 10;
    margin: 20px;
    text-shadow: 1px 1px 0 rgb(67, 66, 66),
    -1px 1px 0 #999,
    1px -1px 0 #999,
    -1px -1px 0 #999,
    0px 1px 0 #999,
    0px -1px 0 #999,
    -1px 0px 0 #999,
    1px 0px 0 #999,
    2px 2px 0 #999,
    -2px 2px 0 #999,
    2px -2px 0 #999,
    -2px -2px 0 #999,
    0px 2px 0 #999,
    0px -2px 0 #999,
    -2px 0px 0 #999,
    2px 0px 0 #999,
    1px 2px 0 #999,
    -1px 2px 0 #999,
    1px -2px 0 #999,
    -1px -2px 0 #999,
    2px 1px 0 #999,
    -2px 1px 0 #999,
    2px -1px 0 #999,
    -2px -1px 0 #999;
}
#btn-pauseGame, a{
    display: flex;
    font-family: OCR A Std, monospace;
    margin: 20px;
    flex-direction: row;
}
#btn-resetGame, a{
    display: flex;
    font-family: OCR A Std, monospace;
    margin: 20px;
    flex-direction: row;
}
#btn-startGame, a{
    display: flex;
    font-family: OCR A Std, monospace;
    margin: 20px;
    flex-direction: row;
}

#age{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    font-size: 70px;
    text-shadow: 1px 1px 0 rgb(67, 66, 66),
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    0px 2px 0 #FFFFFF,
    0px -2px 0 #FFFFFF,
    -2px 0px 0 #FFFFFF,
    2px 0px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF;
}

#sleepiness{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    font-size: 40px;
    text-shadow: .5px .5px 0 rgb(67, 66, 66),
    -.5px .5px 0 #999,
    .5px -.5px 0 #999,
    -.5px -.5px 0 #999,
    0px .5px 0 #999,
    0px -.5px 0 #999,
    -.5px 0px 0 #999,
    .5px 0px 0 #999,
    1px 1px 0 #999,
    -1px 1px 0 #999,
    1px -1px 0 #999,
    -1px -1px 0 #999,
    0px 1px 0 #999,
    0px -1px 0 #999,
    -1px 0px 0 #999,
    1px 0px 0 #999,
    .5px 1px 0 #999,
    -.5px 1px 0 #999,
    .5px -1px 0 #999,
    -.5px -1px 0 #999,
    1px .5px 0 #999,
    -1px .5px 0 #999,
    1px -.5px 0 #999,
    -1px -.5px 0 #999;
}
#boredom{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    font-size: 40px;
    text-shadow: .5px .5px 0 rgb(67, 66, 66),
    -.5px .5px 0 #999,
    .5px -.5px 0 #999,
    -.5px -.5px 0 #999,
    0px .5px 0 #999,
    0px -.5px 0 #999,
    -.5px 0px 0 #999,
    .5px 0px 0 #999,
    1px 1px 0 #999,
    -1px 1px 0 #999,
    1px -1px 0 #999,
    -1px -1px 0 #999,
    0px 1px 0 #999,
    0px -1px 0 #999,
    -1px 0px 0 #999,
    1px 0px 0 #999,
    .5px 1px 0 #999,
    -.5px 1px 0 #999,
    .5px -1px 0 #999,
    -.5px -1px 0 #999,
    1px .5px 0 #999,
    -1px .5px 0 #999,
    1px -.5px 0 #999,
    -1px -.5px 0 #999;
}

#hunger{
    font-family: OCR A Std, monospace;
    color: rgb(102, 222, 216);
    font-size: 40px;
    text-shadow: .5px .5px 0 rgb(67, 66, 66),
    -.5px .5px 0 #999,
    .5px -.5px 0 #999,
    -.5px -.5px 0 #999,
    0px .5px 0 #999,
    0px -.5px 0 #999,
    -.5px 0px 0 #999,
    .5px 0px 0 #999,
    1px 1px 0 #999,
    -1px 1px 0 #999,
    1px -1px 0 #999,
    -1px -1px 0 #999,
    0px 1px 0 #999,
    0px -1px 0 #999,
    -1px 0px 0 #999,
    1px 0px 0 #999,
    .5px 1px 0 #999,
    -.5px 1px 0 #999,
    .5px -1px 0 #999,
    -.5px -1px 0 #999,
    1px .5px 0 #999,
    -1px .5px 0 #999,
    1px -.5px 0 #999,
    -1px -.5px 0 #999;
}

.hide{
    display: none;
}

#alerts{
    font-family: OCR A Std, monospace;
    color: rgb(249, 3, 3);
    font-size: 40px;
    text-shadow: 1px 1px 0 rgb(67, 66, 66),
    -1px 1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px -1px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
    0px -1px 0 #FFFFFF,
    -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    0px 2px 0 #FFFFFF,
    0px -2px 0 #FFFFFF,
    -2px 0px 0 #FFFFFF,
    2px 0px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF;
}